<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Youtube Comment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
</head>

<body>
  <div id="left-section">
    <h3>YouTube Comment Analyzer</h3>
    <form action="/test" method="post">
      <input type="text" name="youtube-link" placeholder="YouTube Video Link" id="youtube-link" />
      <button type="submit">Analyse</button>
    </form>
    <iframe id="video_embed" width="300" height="200" src="https://www.youtube.com/embed/DDiW2Mv2MBk"></iframe>
    
   
  </div>
  <div id="right-section">
    <div id="graph-container">
      <h1 class="heading">Statistics</h1>
      <div id="statistics">
        <div class="count view">
          <span class="stat_text">View</span>
          <span>92380</span>
        </div>
        <div class="count like">
          <span class="stat_text">Like</span>
          <span>37184</span>
        </div>
        <div class="count comment">
          <span class="stat_text">Comment</span>
          <span>5634</span>
        </div>
        <div class="count published_at">
          <span class="stat_text">Published At</span>
          <span>July 4, 1776</span>
        </div>
      </div>

      <div class="ana">
        <h1>Comment Analysis Result</h1>
        <div class="container">
          <div class="box box1">
            <p>Positive Comments</p>
            <p>Total Count: 200</p>
          </div>
          <div class="box box3">
            <p>Neutral Comments</p>
            <p>Total Count: 435</p>
          </div>
          <div class="box box2">
            <p>Negative Comments</p>
            <p>Total Count: 102</p>
          </div>
          
        </div>
      </div>

      <h1 class="cloud-h1">Word Cloud</h1>
      <div class="cloud">
        <img src="{{ url_for('static', filename = '/images/wordcloud.png') }}" alt="Graph" />
      </div>

      <div class="graphs">
        <div id="dropdown-container">
          <label for="graph-type">Select Graph Type:</label>
          <select id="graph-type" onchange="changeGraph()">
            <option value="complete">Complete Graph</option>
            <option value="seven-day">First 7-Day Graph</option>
          </select>
        </div>
        <img class="graph graph1 none" src="{{ url_for('static', filename = '/images/graph_all.png') }}" alt="Graph" />
        <img class="graph graph2 " src="{{ url_for('static', filename = '/images/graph_last_7_days.png') }}" alt="Graph 7" />
      </div>

    </div>
  </div>
</body>


<script>
  function changeGraph() {
    var selectedValue = document.getElementById('graph-type').value

    if (selectedValue === 'complete') {
      document.querySelector('.graph.graph2').classList.remove('none')
      document.querySelector('.graph.graph1').classList.add('none')
    } else if (selectedValue === 'seven-day') {
      document.querySelector('.graph.graph1').classList.remove('none')
      document.querySelector('.graph.graph2').classList.add('none')
    }
  }
</script>

</html>